<%- include('partials/header') %>

<div class="jnrs-main-div">
<h1 class="academic-one">Campus Life Answers</h1>
<hr style="height:2px;background-color:black;width:40%;text-align:center;">
</div>

    <!-- <a class="btn btn-dark btn-lg" href="/" role="button">Home</a> -->
    <!-- <br>
    <h1 class="display-3">Literary and Debating Club</h1> -->
    <div class="club-user">


    <%questionsList.forEach(hostel => {%>
        <!-- <h1><%= hostel.question %></h1> -->
        <button class="accordion"><%= hostel.question %></button>
        <!-- <h3><%= hostel.answer %></h3> -->
        <div class="panel">
          <p>Ans:)  <%= hostel.answer %></p>
        </div>
    <%})%>

    <hr>
    </div>
    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight) {
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        }
      });
    }
    </script>


<%- include('partials/footer') %>
